PHYSIO_API_ENVIRONMENT=Development
PHYSIO_API_PORT=8080
PHYSIO_API_MONGODB_HOST=localhost
PHYSIO_API_MONGODB_PORT=27017
PHYSIO_API_MONGODB_DATABASE=wac-physio
PHYSIO_API_MONGODB_TIMEOUT_SECONDS=10
PHYSIO_API_MONGODB_USERNAME=root
PHYSIO_API_MONGODB_PASSWORD=neUhaDnes
